.ModalDialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ModalDialog-Content {
  position: relative;
  display: inline-block;
  background: white;
  z-index: 600;
}

.Close {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  right: 3px;
  top: 3px;
}
